/** @format */

.emailList {
  display: flex;
  padding-left: 30px;
  /* overflow: scroll; */
}
.emailList__setting {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid whitesmoke;
  background-color: white;
  z-index: 999;
  padding-right: 10px;
  width: 100vw;
}
.emailList__section {
  background-color: red;
}

/* .emailList__settingLeft {
  display: flex;
  width: 50%;
  background-color: aqua;
}
.emailList__settingRight {
  display: flex;
  justify-content: flex-end;
  width: 50%;
  background-color: aquamarine;
} */
